<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>PI - Talking Plants</h1>
    </header>
    <main>
        <section>
            <img src="" alt="foto da planta">
            <a href="/plants/excaulebur">
                <h2>Excaulebur</h2>
            </a>
        </section>
        <section>
            <img src="" alt="foto da planta">
            <a href="/plants/totosa">
                <h2>Totosa</h2>
            </a>
        </section>
    </main>
</body>
<style>
    html, body, * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
</html>